<div  layout="column" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="loginBox md-whiteframe-z1">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Login</span></h2>
        </md-toolbar>
        <form name="loginData"  ng-submit="login()">
            <md-content layout="column" class="md-padding">
                <md-input-container>
                    <label>Email address</label>
                    <input type="text" ng-model="email" required/>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="password" required/>
                </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button class="md-raised md-primary" type='submit'>Login</md-button>
                    <div flex="flex"></div>
                    <!--<md-button href="" md-no-ink="md-no-ink">Forgot Password</md-button>-->
                </div>

            </md-content>
        </form>
    </div>
</div>